.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.containerParallax {
  overflow: hidden;
  width: 100%;
  background: linear-gradient(180deg, #63AD9C 0%, #E6EEE0 50%), #FFF;
  height: 100%;
  position: absolute;

}

.parallax {
  width: 100%;

  left: 0;
  position: absolute;

}

.parallax1 {
  z-index: 10;
  background-image: url('../assets/images/parallaxImages/forest.png');
  background-repeat: no-repeat;
  height: 100vh;
  bottom: -30%;
  animation: none;

}

.parallax2 {
  z-index: 9;
  height: 100vh;
  animation-duration: 3s;
  background-image: url('../assets/images/parallaxImages/media.png');
  background-repeat: no-repeat;
  bottom: -32%;
}

.parallax3 {

  background-image: url('../assets/images/parallaxImages/meio.png');
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 7;
  bottom: -12%;
  animation-duration: 4s;
}

.parallax4 {
  z-index: 6;
  height: 100vh;
  bottom: -10%;
  background-image: url('../assets/images/parallaxImages/treemedia.png');
  background-repeat: no-repeat;
  animation-duration: 6s;
}

.parallax5 {
  z-index: 5;
  background-image: url('../assets/images/parallaxImages/sun.png');
  background-repeat: no-repeat;
  height: 100vh;
  left: -300px;
  animation-duration: 7s;
}


@media(max-width : 767px) {
.parallax1 {
  background-position: center;
}

  .parallax5 {
    left: 0;
    background-position: center;
  }

 
}

@keyframes parallax {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@media(min-width: 767px) {
  .parallax {
    animation: parallax linear alternate infinite;
    background-position: center;
   
  }
}

@media(min-width: 1280px) {

  .parallax1 {
    bottom: -38%;
    width: 100vw;
  }

  .parallax2 {
    width: 100vw;
    bottom: -42%;
  }

  .parallax3 {
    width: 100vw;
    bottom: -20%;
  }

  .parallax4 {
    width: 100vw;
    bottom: -9%;
  }

  .parallax5 {
    width: 100vw;
    bottom: -0%;
  }
}