.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.containerParallax {
  overflow: hidden;
  width: 100%;
  background: linear-gradient(180deg, #63AD9C 0%, #E6EEE0 50%), #FFF;
  height: 100%;
  position: absolute;

}

.parallax {

  left: 0;
  position: absolute;

}


.parallax1 {
  top: 0;
  height: 100vh;
  z-index: 1;
  animation: parallax 1s linear;

}

.parallax2 {
  z-index: 9;
  bottom: 0;
  bottom: -80px;
  animation: parallaxBottom 1s linear;
}

.parallax3 {
  z-index: 7;
  bottom: -120px;
  animation: parallaxBottom 1s linear;
}

.parallax4 {
  z-index: 10;
  bottom: 0;
  animation: parallaxBottom .33s linear;
}

.parallax5 {
  z-index: 8;
  bottom: 10px;
}

.parallax6 {
  z-index: 9;

}


@keyframes parallaxBottom {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes parallax {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@media(max-width:767px) {
  .parallax {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
    animation: parallax2 alternate infinite ;
  }

  .parallax1 {
    animation-duration: 2s;
    
  }

  .parallax2 {
    animation-duration: 9s;
   
  }

  .parallax3 {
    animation-duration: 3s;
    
  }

 
}

@keyframes parallax2 {
  0% {
    object-position: 0 0;
  }

  100% {
    object-position: 100% 0;
  }
}