.container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    z-index: 11;


}

.glassContainer h1 {
    font-size: 2.5rem;
    color: #000;
    text-align: center;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.glassContainer h3 {
    font-size: 2rem;
    text-align: center;
    background: #61cf12;
    background: linear-gradient(to right, rgb(153, 207, 18) 0%, #124ecf 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.glassContainer {
    background-color: rgba(255, 255, 255, 0.4);
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    padding: 20px;
    box-shadow: 10px 10px 10px 10px rgba(000, 000, 000, 0.1);
}

.containerTable {
    color: #000;
    display: flex;
    margin-top: 20px;

    align-items: center;
    width: 100%;
    height: 80%;
    flex-direction: column;
    overflow-y: scroll;

}

.containerTable::-webkit-scrollbar {
    width: 3px;

}

.containerTable::-webkit-scrollbar-track {
    background: transparent;

}

.containerTable::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 20px;
}

.containerTable button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 10px;
    background-color: green;
    font-size: 1rem;
}

.glassContainer button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 10px;
    background-color: green;
    font-size: 1rem;
}



.containerTable button:hover {
    scale: 1.1;
    transition: all 0.5s;
}

.containerTable div {
    display: flex;
    padding: 10px;
    gap: 20px;
}

.table {
    user-select: none;
    width: 90%;
    padding: 0;

}

.containerTable thead {
    background: linear-gradient(to right, rgb(153, 207, 18) 0%, #124ecf 100%);
    text-shadow: 1px 1px 1px #000000;
    color: #fff;
    user-select: none;
}

.containerTable thead tr th {
    padding: 5px;
    user-select: none;
}

.qty {
    width: 20%;
}

.qty.border {
    border-top-right-radius: 10px;
}

.bordername {
    border-top-left-radius: 10px;
}

.containerSelect {
    display: flex;
    justify-content: center;
    width: 100%;
}

.selected {
    color: #000;
    background-color: white;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
}

.selected option:hover {

    background: linear-gradient(to right, rgba(153, 207, 18, 0.209) 0%, #124ecf52 100%);
}

.selected::-webkit-scrollbar {
    width: 3px;

}

.selected::-webkit-scrollbar-track {
    background: transparent;

}

.selected::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 20px;
}

.table tbody {
    background: linear-gradient(to right, rgb(153, 207, 18) 0%, #124ecf 100%);
    text-shadow: 1px 1px 1px #000000;
    color: #fff;
    user-select: none;
}


.ldsDualRing {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.ldsDualRing:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: ldsDualRing 1.2s linear infinite;
}

@keyframes ldsDualRing {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media(max-width:767px) {
    .glassContainer h1 {
        font-size: 2rem;

    }

    .containerTable {
        align-items: flex-start;
    }

    .glassContainer h3 {
        font-size: 1.2rem;

    }

    .glassContainer {
        width: 90%;
    }

    .table {
        width: 95%;
    }
}